{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-transform-react-jsx-source",
		[
			"babel-plugin-react-css-modules",
			{
				"context": "./",
                "generateScopedName": "[name]__[local]___[hash:base64:5]",
				"autoResolveMultipleImports": true,
				"webpackHotModuleReloading": true,
				"exclude": "node_modules",
				"handleMissingStyleName": "warn"
			}
		]
	]
}