.App {
  text-align: center;
}

.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppHink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.composeClass {
  composes: primary from './common.css';
  composes: white from './common.css';
  composes: button from './Button/Button.module.css';
}

.border {
  border: 2px solid #f25;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  margin: 5px;
}